
.btn-submit{
    width: 14rem;
    margin-top:2rem;
    color:var(--color-grey-light-1);
    font-family:inherit;
    font-size:2rem;
    font-weight: bold;
    cursor:pointer;
    border:none;
    background-color: var(--color-primary);
    padding: .3rem .4rem;
    border-radius:3px;
    
    &:hover{
        box-shadow: var(--shadow-light);
    }
}